.button {
  padding: 10px 20px;
  border: transparent;
  border-radius: 30px;
  transition: background-color 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;

  &--login {
    color: white;
    padding: 5px 10px;
    width: 100%;
  }

  &--cart {
    border: solid 1px #ffa909;
    background-color: transparent;
    color: var(--text-color);
  }

  &--submit {
    width: 100%;
    color: white;

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
