.button {
  padding: 10px 20px;
  border: transparent;
  border-radius: 30px;
  transition: background-color 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;

  &--login {
    background-color: var(--button-primary);
    color: white;
    padding: 5px 10px;
  }

  &--submit {
    width: 100%;
    background-color: var(--button-primary);
    color: white;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--button-primary-hover);
      }
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}
