.item {
  display: flex;
  justify-content: space-between;
  height: 100vh;
    .item_header {
      h1, h2 {
        margin-top: 0;
      }
    }
    h1 {
      font-size: medium;
    }
    h2 {
      font-size: x-large;
    }
    h3 {
      font-size: medium;
    }
}
.item-info {
  margin-left: 40px;
}






