.base-input {
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &--inline {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 4px;

    .base-input__label {
      margin-left: 8px;
      margin-bottom: 0;
      white-space: nowrap;
    }

    .base-input__wrapper {
      height: auto;

      input[type='checkbox'] {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
      }
    }
  }

  &__label {
    color: var(--text-color);
  }

  &__error {
    margin-bottom: 2px;
    font-size: 0.85rem;
    color: var(--error-color);
  }

  &__select {
    border: 1px solid var(--border-color);
    padding: 0.5rem 0rem;
    transition: border-color 0.5s ease-in;

    &:focus {
      border-color: var(--border-focus-color);
      outline: none;
    }
  }

  &__wrapper {
    position: relative;
    height: 50px;

    input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid var(--border-color);
      transition: border-color 0.5s ease-in;

      &:focus {
        border-color: var(--border-focus-color);
        outline: none;
      }
    }

    &::after {
      content: '⚠️';
      line-height: 1;
      position: absolute;
      top: 33%;
      right: 35px;
      transform: translateY(-50%);
      font-size: 1rem;
      pointer-events: none;
      display: none;
    }

    .base-input--error &::after {
      display: block;
    }
  }

  &__toggle {
    position: absolute;
    top: 80%;
    right: 0;
    cursor: pointer;
    padding: 0 8px;
    font-size: 0.85rem;
    color: var(--text-color);
  }

  &--error input {
    border-color: var(--error-color);
    background-color: rgba(239, 68, 68, 0.05);
  }
}
