.header__profile-block {
  height: fit-content;
  a {
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    img {
    }
  }
  .profile-block__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: fit-content;
    .profile-block__tab {
    }
  }
}
