.hero-section {
  height: 615px;
  width: 100%;
  background-image: url('../../../assets/img/hero-section.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 3em;

    .slogan-2 {
      margin-left: 50px;
    }

    .slogan-3 {
      margin-left: 100px;
    }
  }
}
