.profile-access-block {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 50px;
    background-color: #fff;
    li{
        background-color: black;
        height: 20px;
    }
}