.product-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 75px;
}
.product-title {
  width: 65%;
}
.discounted-price {
  h2 {
    margin: 0;
    display: inline-block;
    animation: blink 1s infinite;
  }
  h3 {
    text-decoration: line-through;
    opacity: 25%;
    margin-top: 5px;
  }
}

@media (max-width: 850px) {
  .product-header {
    flex-direction: column;
  }
}


@keyframes blink {
  0% { color: black; }
  50% { color: orange; }
  100% { color: black; }
}
